.input-height {
  height: 70px;
  font-size: 40px; }
  @media (min-width: 992px) {
    .input-height {
      font-size: 1rem;
      height: 45px; } }

.input-height-text {
  height: 150px;
  font-size: 40px; }
  @media (min-width: 992px) {
    .input-height-text {
      height: 90px;
      font-size: 1rem; } }

.box-form select {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid; }

select.form-control:not([size]):not([multiple]) {
  height: 70px; }
  @media (min-width: 992px) {
    select.form-control:not([size]):not([multiple]) {
      height: 40px; } }

.label-form {
  font-size: 40px; }
  @media (min-width: 992px) {
    .label-form {
      font-size: 25px; } }

.page-contact-btn {
  margin: 10px 0; }

.box-form h2 {
  margin: 0 0 40px;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase; }

.box-form input {
  padding: 10px 0 0 0;
  margin-bottom: 30px; }

.box-form textarea {
  height: 100px;
  padding: 10px 0;
  margin-bottom: 40px; }

.text-area-margin {
  margin-top: 30px; }

.box-form input,
.box-form textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  border-color: #999; }

.box-form form div {
  position: relative; }

.box-form form div label {
  position: absolute;
  top: 10px;
  left: 13px;
  color: #999;
  transition: .5s;
  pointer-events: none;
  font-size: 40px; }
  @media (min-width: 992px) {
    .box-form form div label {
      font-size: 22px; } }

.box-form input:focus ~ label,
.box-form textarea:focus ~ label,
.box-form input:valid ~ label,
.box-form textarea:valid ~ label {
  top: -17px;
  left: 0;
  color: black;
  font-size: 25px;
  font-weight: bold; }
  @media (min-width: 992px) {
    .box-form input:focus ~ label,
    .box-form textarea:focus ~ label,
    .box-form input:valid ~ label,
    .box-form textarea:valid ~ label {
      font-size: 20px; } }

.box-form input:focus,
.box-form textarea:focus,
.box-form input:valid,
.box-form textarea:valid {
  border-bottom: 2px solid; }

#test {
  line-height: 1.4; }

.select-contact {
  border-radius: 0;
  font-size: 22px;
  color: #999;
  margin-bottom: 50px; }

.select-contact:valid {
  font-size: 25px;
  color: black;
  font-weight: bold;
  padding-left: 0;
  border-bottom: 2px solid; }
  @media (min-width: 992px) {
    .select-contact:valid {
      font-size: 20px; } }

.form-background{
  width: 600px;
  text-align: center;
  justify-content: center;
  margin: 50px;
  padding: 30px;
  border-radius: 5%;
  background-color: white;  
}

body{
  background-color: aqua;
}